* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    perspective: 800px;
}

body {
    font-family: Roboto,sans-serif;
    overflow-y: auto;
}

main {
    overflow: hidden;
    position: relative;
    --text: #271f23;
    --red: #e31e1e;
    --red-dark: #a81212;
    --red-border: rgba(227, 30, 30, .45);
}

#colorExchange:checked+main {
    --red: rgb(37, 34, 206);
    --red-dark: rgb(9, 18, 95);
    --red-border: rgba(9, 18, 95, .45);
}

section {
    padding: 50px 0;
}

.container {
    width: 85%;
    margin: auto;
    max-width: 1350px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sora,sans-serif;
}

img {
    max-width: 100%;
}




